.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background: #fff;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
}
.open {
  display: block;
}
.closed {
  display: none;
  transition:  all 0.5;
}
