
.c7_page{
  background-color: whitesmoke;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mt-1 {
  margin-top: 1rem;
}
.mantine-Popover-dropdown{
  width: 200px;
}
.mantine-Popover-dropdown .mantine-Select-option span {
  font-size: 10px;
}
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}